<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">This page is locked down...</p>
    <!-- <p class="output">Please try to <a href="#1">go back</a> or <a href="#2">return to the homepage</a>.</p> -->
    <p class="output">Please contact your tech team.</p>
    </div>
</html>
